.title {
  display: inline-block;
  width: 300px;
  height: 200px;
  padding: 5px 10px 15px 15px;
  margin: 10px 15px;
  border-top-style: solid;
  border-right-style: dashed;
  border-left-style: dashed;
  border-width: 5px;
  border-color: #008000;
}
